# WORKSPACES
SERVER_WORKSPACE=./reverse_ssh
NC_WORKSPACE=./nc
FILES_WORKSPACE=./techniques/files
CLICKFIX_WORKSPACE=./techniques/clickfix
POWERSHELL_GENERATOR=./powershell_generator
HTTP_POWERSHELL_SHARE=./http_powershell_share
RSHELL_WORKSPACE=./rshell-generator
VILLAIN_WORKSPACE=./villain

# ATTACKER ADDRESS
ATTACKER_ADDRESS=192.168.56.101
ATTACKER_PROTOCOL=http

# HTTP PORTS
CLICKFIX_HTTP_PORT=7777
FILES_HTTP_PORT=7778
HTTP_POWERSHELL_SHARE_PORT=80
HTTP_REVERSE_SHELL_AND_EXECUTIONS_SHARE_PORT=7779

# SMB PORTS
SMB_REVERSE_SHELL_AND_EXECUTION_PORT=445

# REVERSE SSH SERVER
SERVER_PORT=3231

# REVERSE_SSH GENERATOR
EXE_FILENAME=giveme100

# SMB_REVERSE_SHELL_AND_EXECUTION
SMB_USER=test
SMB_PASSWORD=gggg
SMB_SHARE=ksv

# FTP_REVERSE_SHELL_AND_EXECUTION
FTP_USER=test
FTP_PASS=testtest
FTP_PORT=21


###### NC SERVER ######
###### START ######

NC_LISTEN_PORT=4443

###### FINISH ######
###### NC SERVER ######


###### VILLAIN SERVER ######
###### START ######

VILLAIN_LISTEN_PORT=4444

###### FINISH ######
###### VILLAIN SERVER ######


###### POWERSHELL GENERATOR ######
###### START ######

# exe_dropper.ps1
POWERSHELL_GENERATOR_VICTIM_DISK=X
POWERSHELL_GENERATOR_EXE_FILENAME=happy-life.exe

# iex_iwr.ps1
POWERSHELL_GENERATOR_SCRIPT_NAME=exe_dropper

###### FINISH ######
###### POWERSHELL GENERATOR ######




###### RSHELL GENERATOR ######
###### START ######

RSHELL_FILENAME=happy-life
RSHELL_IP=192.168.56.101
RSHELL_PORT=4444

###### FINISH ######
###### RSHELL GENERATOR ######





########    CLIENT    ########

# CLICKFIX
CLICKFIX_TECHNIQUE_IN_USE=chrome_update
CLICKFIX_SCRIPT_TO_RUN=iex_iwr.ps1
CLICKFIX_HTTP_SHARE_URL=127.0.0.1
CLICKFIX_HTTP_SHARE_PORT=80
CLICKFIX_HTTP_SHARE_PROTOCOL=http

# FILES
FILES_TECHNIQUE_IN_USE=archive